.button {
  position: fixed;
  bottom: 20px;
  right: 10px;
  padding: 10px;
  background-color: var(--third-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.button svg {
  width: 34px;
  height: 34px;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
}

.button:hover svg {
  width: 36px;
  height: 70px;
  color: var(--fourth-color);
}

@media (max-width: 479.9px) {
  .button {
    display: none;
  }
}

@media (max-width: 1024px) {
  .button {
    padding: 8px;
  }
  .button svg {
    width: 18px;
    height: 16px;
  }
}
