.nav {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.link {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.active {
  color: var(--main-color);
}
