.section {
  height: calc(100vh - 62px);
  padding-block: 24px;
  background-image: url('/moviesearch-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 28%;
}

@media (max-width: 768px) {
  .section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('/assets/moviesearch-image.jpg');
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.field {
  width: 100%;
  max-width: 350px;
  height: 36px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid lightgray;
  outline: none;
  transition: border 0.2s ease-in-out;
}

.field:hover {
  border: 1px solid var(--main-color);
}

.button {
  padding-inline: 16px;
  height: 36px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  box-shadow: 0 0 4px 1px var(--fourth-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover {
  color: var(--white-color);
  background-color: var(--third-color);
}
