.link {
  display: inline-block;
  font-size: 17px;
  color: #6699ff;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

@media (hover: hover) {
  .link:hover {
    color: var(--black-color);
    transform: translateX(6px);
  }
}
